h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border: 4px solid #f58335;
  border-radius: 15px;
}
