.itemContainer {
  display: flex;
  justify-content: left;
  position: relative;
  padding-left: 1em;
}

li {
  font-size: 40px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border: 8px solid #f58335;
  border-radius: 15px;
}

.text {
  margin-top: 1.3em;
}

.id {
  color: #f58335;
  margin-top: 1.3em;
  margin-right: 0.5em;
}

.itemContainer .text-completed {
  text-decoration: line-through;
}

.itemContainer .edit {
  background: url("../Assets/edit-gray.png") no-repeat;
  background-size: 100%;
  border: none;
  width: 5em;
  height: 5em;
  position: absolute;
  top: 4.3em;
  right: 16em;
  cursor: pointer;
}

.itemContainer .edit:hover {
  background: url("../Assets/edit.png") no-repeat;
  background-size: 100%;
  width: 5em;
  height: 5em;
  cursor: pointer;
}

.itemContainer .check-mark {
  background: url("../Assets/check-mark-gray.png") no-repeat;
  background-size: 100%;
  border: none;
  width: 6em;
  height: 6em;
  position: absolute;
  top: 4em;
  right: 7.5em;
  cursor: pointer;
}

.itemContainer .check-mark:hover {
  background: url("../Assets/check-mark.png") no-repeat;
  background-size: 100%;
  width: 6em;
  height: 6em;
  cursor: pointer;
}

.itemContainer .check-mark-active {
  background: url("../Assets/check-mark.png") no-repeat;
  background-size: 100%;
  width: 6em;
  height: 6em;
}

.itemContainer .delete {
  background: url("../Assets/delete-gray.png") no-repeat;
  background-size: 100%;
  border: none;
  width: 5em;
  height: 5em;
  position: absolute;
  top: 4em;
  right: 1em;
  cursor: pointer;
}

.itemContainer .delete:hover {
  background: url("../Assets/delete.png") no-repeat;
  background-size: 100%;
  border: none;
  width: 5em;
  height: 5em;
  cursor: pointer;
}
