.itemContainer {
  display: flex;
  justify-content: left;
  position: relative;
  padding-left: 1em;
  margin: 1em;
}

li {
  font-size: 22px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border: 4px solid #f58335;
  border-radius: 15px;
}

.text {
  margin-top: 1.3em;
  text-align: left;
}

.text-container {
  width: 73%;
  margin-right: 3em;
}

.id {
  color: #f58335;
  font-weight: bold;
  margin-top: 1.3em;
  margin-right: 0.5em;
}

.itemContainer .text-completed {
  text-decoration: line-through;
}

.itemContainer .edit {
  background: url("../Assets/edit-gray.png") no-repeat;
  background-size: 100%;
  border: none;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: 1.8em;
  right: 18em;
  cursor: pointer;
}

@media (hover: hover) {
  .itemContainer .edit:hover {
    background: url("../Assets/edit.png") no-repeat;
    background-size: 100%;
    width: 3em;
    height: 3em;
    cursor: pointer;
  }
}

.itemContainer .check-mark {
  background: url("../Assets/check-mark-gray.png") no-repeat;
  background-size: 100%;
  border: none;
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  top: 1.5em;
  right: 9.5em;
  cursor: pointer;
}

@media (hover: hover) {
  .itemContainer .check-mark:hover {
    background: url("../Assets/check-mark.png") no-repeat;
    background-size: 100%;
    width: 4em;
    height: 4em;
    cursor: pointer;
  }
}

.itemContainer .check-mark-active {
  background: url("../Assets/check-mark.png") no-repeat;
  background-size: 100%;
  width: 3.5em;
  height: 3.5em;
}

.itemContainer .delete {
  background: url("../Assets/delete-gray.png") no-repeat;
  background-size: 100%;
  border: none;
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  top: 1.8em;
  right: 2.5em;
  cursor: pointer;
}

@media (hover: hover) {
  .itemContainer .delete:hover {
    background: url("../Assets/delete.png") no-repeat;
    background-size: 100%;
    border: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .itemContainer .edit,
  .itemContainer .edit:hover {
    width: 1.7em;
    height: 1.7em;
    top: 0.7em;
    right: 7.5em;
  }

  .itemContainer .check-mark,
  .itemContainer .check-mark:hover {
    width: 2.6em;
    height: 2.6em;
    top: 0.4em;
    right: 4.5em;
  }
  .itemContainer .check-mark-active {
    width: 2.6em;
    height: 2.6em;
  }

  .itemContainer .delete,
  .itemContainer .delete:hover {
    width: 1.7em;
    height: 1.7em;
    top: 0.7em;
  }
}
