@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.todos-loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.todos-loading {
  width: 300px;
  height: 300px;
  border: 30px solid #f58335;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
