.searchContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20px;
}

.searchContainer input {
  font-size: 30px;
  border-radius: 40px;
  text-align: center;
  padding: 4px;
  margin-bottom: 25px;
  position: relative;
}

.searchContainer input:focus {
  outline-color: #5a7eb7;
}
