.buttonContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: auto;
  height: 100%;
  position: sticky;
  bottom: 55px;
}

.buttonContainer button {
  background-color: #5a7eb7;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px black;
  margin-top: auto;
  margin-right: 0.5em;
  height: 3em;
  width: 3em;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #f58335;
  border-radius: 50%;
  margin-top: auto;
  box-shadow: 2px 2px black;
  height: 3em;
  width: 3em;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .buttonContainer button {
    height: 2.6em;
    width: 2.6em;
    margin-right: 0.4em;
  }
}
