.buttonContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.buttonContainer button {
  background-color: #5a7eb7;
  color: white;
  font-size: 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px black;
  margin: 1em 15px 1em 15px;
  height: 3em;
  width: 100%;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #f58335;
  color: white;
  font-size: 40px;
  border-radius: 20px;
  margin-top: 1em;
  box-shadow: 2px 2px black;
  margin: 1em 15px 1em 15px;
  height: 3em;
  width: 100%;
  cursor: pointer;
}
