body {
  margin: 0;
  font-family: "Calibri", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./Assets/to-do-list-opa.png") no-repeat center center;
  background-attachment: fixed;
  background-size: 33%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
